:root {
    --color-Yellow: hsl(47, 88%, 63%);
    --color-White: hsl(0, 0%, 100%);
    --color-Grey: hsl(0, 0%, 50%);
    --color-Black: hsl(0, 0%, 7%);
}




body {
    font-family: "Figtree", sans-serif;
    background-color: var(--color-Yellow);
    display: grid;
    font-size: 16px;
    min-height: 100vh;
    place-items: center;
    margin: unset;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    box-shadow: 10px 10px .5 black;
}

.banner {
    height: auto;
    width: 100%;
    border-radius: 12px;

}

main {
    background-color: var(--color-White);
    padding: 17px;
    max-width: 300px;
    border-radius: 12px;
    border-color: var(--color-Black);
    border-style: solid;
    border-width: 1.8px;
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
}

div {
    display: flex;
    vertical-align: middle;
}

.title {
    margin-top: 0;
    font-size: 21px;
}

.title:hover{
    color: var(--color-Yellow);
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.name {
    font-size: 11px;
    font-weight: 800;
}

.learn {
    background-color: var(--color-Yellow);
    display: inline-block;
    padding: 1.2% 3%;
    font-weight: 800;
    font-size: 11px;
    border-radius: 2px;
    margin-bottom: 0;
    margin-top: 16px;
}

.date {
    font-size: 13px;
    font-weight: 500px;
    margin-top: 13px;
    margin-bottom: 16px;
}


.details {
    font-size: 16px;
    opacity: .8;
}