@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: var(--yellow);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    box-shadow: 12px 12px 10px black;
    width: 20%;
    margin: auto;
    margin-top: 3rem;
    background-color: white;
    border-radius: 20px;
}

#learning {
    background-color: var(--yellow);
    margin: 10px 0;
    display: block;
    padding: 0 30px;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#learning p {
    display: block;
}

#photo img {
    border-radius: 20px;
    width: 100%;
}

h3{
    color: var(--yellow);
    margin: 10px 0;
}

p{
    font-size: 16px;
}

#profile-pic{
    display: flex;
    align-items: center;
}

#profile-pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 740px) {
    #container {
        width: 40%;
    }
}

@media screen and (max-width: 375px) {
    #container {
        width: 90%;
    }
}

@media screen and (max-width: 200px) {
    #container {
        #profile-pic{
            flex-direction: column;
        }
    }
}